@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #e2e0be, #d3edd1, #dec8ba, #e0b7af);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  display: flex;
  justify-content: center;
  margin: auto;
}
